.root {
	--background:    var(--bg-contrast-color);
	background:      var(--background);
	display:         flex;
	flex-direction:  column;
	align-items:     center;
	justify-content: space-between;
	width:           80px;
}

.logo {
	fill:   var(--primary-color);
	margin: 16px 0;
	width:  48px;
	height: 48px;
}

.link, .linkActive {
	margin:          28px 0;
	width:           48px;
	height:          48px;
	border-radius:   25%;
	display:         flex;
	justify-content: center;
	align-items:     center;
	transition:      var(--transition);

	& > svg {
		width:      24px;
		height:     24px;
		transition: var(--transition);
	}
}

.link > svg {
	fill: var(--primary-color);
}

.linkActive {
	background: var(--primary-color);

	& > svg {
		fill: var(--background);
	}
}
