.app.light {
	--bg-color:            #EFEFF0;
	--bg-contrast-color:   #1B1D22;
	--text-color:          #1B1D22;
	--placeholder-color:   rgba(26, 28, 33, .3);
	--border-color:        rgba(26, 28, 33, .3);
	--border-focus-color:  rgba(26, 28, 33, .5);
	--line-color:          #C4C4C4;
	--primary-color:       #03C49A;
	--primary-hover-color: rgba(4, 196, 155, 0.8);
	--secondary-color:     #4DA0FF;
	--error-color:         #FA7566;
	--warning-color:       #FFD257;
}
