$white:    #F0F0F1;
$gray-1:   #A5B1CF;
$gray-2:   #6C6A76;
$gray-3:   #545A69;
$gray-4:   #2A2F38;
$gray-5:   #1C1E23;
$black:    #121418;

$green-1:  #05F5C1;
$green-2:  #05E8B7;
$green-3:  #03C39A;
$green-4:  #04CFA3;
$green-5:  #026952;

$red-1:    #F57162;
$red-2:    #E86B5D;
$red-3:    #FA7565;
$red-4:    #CF5F53;
$red-5:    #69302A;

$yellow-1: #F5C951;
$yellow-2: #E8BF4D;
$yellow-3: #FFD155;
$yellow-4: #CFAA44;
$yellow-5: #695623;

$blue-1:   #4798F5;
$blue-2:   #4390E8;
$blue-3:   #4B9FFF;
$blue-4:   #3C80CF;
$blue-5:   #1E4169;
