:root {
	color-scheme:   dark;

	--color-white:  239, 239, 240;
	--color-black:  18, 19, 23;

	--color-light:  165, 177, 207;
	--color-dark:   27, 29, 34;

	--color-green:  3, 196, 154;
	--color-gray:   42, 46, 55;
	--color-red:    250, 117, 102;
	--color-yellow: 255, 210, 87;
	--color-blue:   77, 160, 255;
}
