@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import 'normalize.css';
@import 'reset.css';
@import 'theme.css';

body {
	color:       var(--color-text);
	background:  var(--color-background);
	font-family: 'Nunito Sans', sans-serif;
}

