@import 'base-colors.css';

:root {
	--color-accent-background: hsl(var(--color-black));
	--color-line:              hsl(var(--color-gray));
	--color-line-focus:        hsla(var(--color-white) / .25);
	--color-background:        hsl(var(--color-dark));
	--color-text:              hsla(var(--color-white) / .8);
	--color-text-placeholder:  hsla(var(--color-white) / .5);

	--primary:                 hsl(var(--color-green));
	--primary-hover:           hsla(var(--color-green) / .7);
}

