@import 'base-colors.css';

:root {
	--color-accent-background: rgb(var(--color-black));
	--color-line:              rgb(var(--color-gray));
	--color-border:            rgba(var(--color-white), .4);
	--color-border-focus:      rgba(var(--color-white), .5);
	--color-background:        rgb(var(--color-dark));
	--color-text:              rgba(var(--color-white), .8);
	--color-text-placeholder:  rgba(var(--color-white), .3);

	--primary:                 rgb(var(--color-green));
	--primary-hover:           rgba(var(--color-green), .7);
}

