.root {
	--icon-size:     var(--font-line-m);
	border:          var(--border-width) solid var(--border-color);
	transition:      var(--transition);
	border-radius:   6px;
	display:         flex;
	justify-content: flex-start;
	align-items:     center;
	width:           50rem;
}

.root:focus-within, .root:has(.textField:not(:placeholder-shown)) {
	border-color: var(--border-focus-color);
}

svg {
	height: var(--icon-size);
	width:  var(--icon-size);
}

.label {
	padding:         .75em 0 .75em 1em;
	cursor:          text;
	flex-grow:       1;
	display:         flex;
	justify-content: flex-start;
	align-items:     center;

	& > svg {
		fill:         var(--border-color);
		margin-right: .5em;
		transition:   var(--transition);
	}
}

.label:focus-within > svg, .label:has(.textField:not(:placeholder-shown)) > svg {
	fill: var(--border-focus-color);
}

.textField {
	font:  var(--font-body);
	color: var(--text-color);
	width: 100%;
}

::placeholder {
	color: var(--placeholder-color);
}

.clearInput {
	fill:         var(--text-color);
	transition:   var(--transition);
	cursor:       pointer;
	margin-left:  .5em;
	margin-right: 1em;

	&:hover {
		fill: var(--primary-hover-color);
	}
}
