.root {
	border-bottom:   var(--border-width) solid var(--color-line);
	height:          80px;
	padding:         0 3rem;
	display:         flex;
	align-items:     center;
	justify-content: space-between;
}
